@media (max-width: 1000px) {
    .html {
        height: 100vh;
        width: 100vw;
    }
    body {
        /* display: block; */
        width: 100vw !important;
        height: 100vh !important;
        overflow-y: none;
        overflow-x: hidden !important;
    }
    .topnav {
        position: fixed !important;
        top: 0%;
        height: 10% !important;
        width: 100% !important;
        z-index: 5;
    }
    .navbar_container,
    .bottomnavbar_container {
        /* border: 5px solid white; */
        background-color: #023047;
        position: relative;
        height: 100% !important;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .menu,
    .bottommenu {
        /* border: 5px solid white; */
        position: sticky;
        display: none;
        flex-direction: column;
        background-color: inherit;
        width: 100%;
        height: 50vh;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style-type: circle;
        margin: 0em 0em;
        margin-top: 2.5em;
        flex-grow: 2;
        padding-bottom: 5%;
    }
    ul .button_nav {
        margin-top: -5%;
        padding-top: 8%;
        font-size: 1.15em;
        text-decoration: none;
        color: #FFB703;
        background-color: inherit;
        align-self: center;
        scroll-behavior: smooth;
    }
    .logo_container {
        /* border: 1px solid white; */
        top: 0%;
        justify-content: space-between;
        align-items: flex-start;
        left: 0%;
        width: 100%;
        height: 30%;
    }
    #logo {
        padding: 0em 1em;
        width: 50%;
        text-align: justify;
        font-size: 1.35em;
    }
    #hum {
        display: inline;
        margin-top: -20%;
        padding-bottom: 0%;
        /* padding-right: 4%; */
        font-size: 1.3em;
    }
    #hum:hover,
    #logo:hover {
        transition: all 0.2s ease;
        font-size: 1.4em;
        color: white;
    }
    /* #hum:active {
        transition: all 0.2s ease;
        font-size: 1.55em;
        color: white
    } */
    .intro {
        height: 38% !important;
        font-size: 1.8vh;
        position: static;
        display: flex;
        align-items: center;
    }
    .welcome {
        text-align: center;
        flex-wrap: wrap;
        color: #023047;
        font-family: 'Staatliches', cursive;
    }
    #welc_title {
        font-size: 3em;
    }
    .welc_text {
        font-size: 1em;
    }
    #findmore_button {
        font-size: 1em;
    }
    #welc_title:hover {
        font-size: 300%;
    }
    .welc_text:hover {
        font-size: 100%;
    }
    #findmore_button:hover {
        border: 3px solid black;
        color: white;
        font-size: 1.1em;
    }
    .row1 {
        height: 100% !important;
        width: 99%;
        display: inline-flexbox;
        font-size: 2.4vh;
        /* flex-direction: row; */
        position: relative;
        /* flex-direction: row; */
        background-color: rgba(0, 0, 0, 0.411);
    }
    .row1_col1 {
        /* border: 8px solid red; */
        position: static;
        display: flex;
        /* flex-wrap: wrap; */
        /* float: left; */
        width: 0%;
        height: 100%;
        object-fit: contain;
    }
    #firstpic {
        position: absolute;
        /* align-self: flex-end; */
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .arrow_container {
        /* border: 5px solid black; */
        width: 10%;
        z-index: 1;
    }
    .arrow_left,
    .arrow_right {
        border: 5px solid rgba(0, 0, 0, 0.175);
        background: rgba(255, 255, 255, 0.15);
    }
    .arrow_left:hover,
    .arrow_right:hover {
        background-color: #44a2ff77;
    }
    .row1_col2 {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.411);
        color: white;
        margin: 0% 0%;
        padding: 0em 0em;
    }
    .about,
    #title {
        margin-top: 0em;
        color: inherit;
    }
    .about {
        font-size: 1em;
    }
    #title,
    #title1 {
        font-size: 1.6em;
    }
    #title2 {
        font-size: 1.3em;
    }
    .psuedo2 {
        background-image: url("Picture11.jpg");
        background-repeat: no-repeat;
        height: 80%;
        z-index: 1;
        background-size: cover;
        object-fit: cover;
        position: relative;
    }
    .row2 {
        height: 100% !important;
        font-size: 1vh;
    }
    #title1 {
        color: inherit;
        font-size: 1.5em;
    }
    #title22 {
        font-size: 1.2em;
    }
    #title_answer {
        font-size: 1em;
    }
    .row2_col2 {
        /* border: 5px solid yellowgreen; */
        display: grid;
        height: 50%;
        justify-content: space-between;
        padding: 0 1em;
        align-items: center;
    }
    .row21 {
        position: relative;
        margin-left: 2%;
    }
    .row22 {
        flex-grow: 0 !important;
        height: 100%;
        display: grid;
    }
    .row1Title {
        font-size: 1.3em;
    }
    .row2Title {
        margin-bottom: -1.5em;
        font-size: 1.5em;
    }
    .row1answer {
        font-size: 1em;
        margin: 0 2em;
    }
    .row2answer2 {
        padding-left: 3em;
        margin-left: 1.2em;
        font-size: 1em;
    }
    .row2answer22 {
        padding-left: 20%;
    }
    ul {
        font-size: 1em !important;
        padding-left: 0em;
    }
    .label {
        font-size: 1em;
    }
    .w3-progress-container {
        width: 35vw;
        margin-bottom: 0.1em;
        height: 0.5em;
        position: relative;
    }
    .w3-progressbar {
        height: 100%;
        position: static;
    }
    .w3-round-xlarge {
        border: 1.3px solid #001d59;
        border-radius: 10px!important;
    }
    .psuedo3 {
        height: 100% !important;
    }
    .row3 {
        font-size: 1.3vh;
        position: static;
        height: 100%;
        padding: 3em 0;
    }
    #title3 {
        font-size: 1.5em;
    }
    .row3_container {
        border: 5px solid auto;
        flex-direction: column;
    }
    .row3_contents {
        margin-bottom: 2em;
        width: 80%;
    }
    .content3 {
        font-size: 1em;
        margin-left: 2em;
        list-style-type: circle;
    }
    .title3_1 {
        font-size: 1.2em;
        text-decoration: underline;
    }
    .type {
        font-size: 1em;
    }
    #resume_download {
        font-size: 1.1em;
    }
    #resumelink {
        text-decoration: none;
        color: inherit;
    }
    #resume_download:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(9, 9, 9);
        font-size: 1.2em;
    }
    .psuedo4 {
        height: 70% !important;
    }
    .row4 {
        height: 100% !important;
        width: 100%;
        font-size: 1.5vh;
    }
    #title4 {
        font-size: 1em;
    }
    .row4container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .row4col1 {
        /* border: 5px solid black; */
        width: 22%;
        padding-left: 2%;
    }
    .row4titles {
        font-size: 1.1em;
        margin-bottom: 0%;
    }
    .row4date {
        font-size: 0.8em;
        margin-left: 20%;
    }
    .row4col2 {
        /* border: 5px solid black; */
        width: 60%;
        padding-left: 2em;
    }
    .row4col2content {
        /* border: 5px solid black; */
        font-size: 0.8em;
        width: 100%;
        margin-top: 0%;
    }
    .row4col2list {
        /* border: 5px solid black; */
        width: 100%;
    }
    #title41 {
        margin-top: 80%;
        margin-bottom: 0;
    }
    #title42 {
        margin-top: 50%;
    }
    #title43 {
        margin-top: 60%;
        margin-bottom: -30%;
    }
    .psuedo5 {
        height: 80%;
        width: 100% !important;
        background-size: contain;
    }
    .emailform {
        height: 100%;
        width: 100%;
        font-size: 1.5vh;
    }
    #formtext {
        font-size: 1.3em;
        width: 50%;
    }
    .formcontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 65% !important;
        padding: 0em 0em;
        font-size: 2em;
    }
    .from-example {
        display: flex;
        flex-direction: row;
        height: inherit;
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }
    #name,
    #email {
        border: 5px solid black;
        padding: 1em 0em;
        margin-bottom: 3em;
        height: 1.5em;
        width: 15em;
    }
    #text {
        border: 5px solid black;
        margin-bottom: 3em;
        padding: 0.8em 0.5em;
        width: 20em;
        height: 5em;
        font-size: 0.5em;
    }
    .bottomnav {
        height: 50% !important;
        width: 100% !important;
    }
    .footercontainer {
        padding-top: 1%;
        font-size: 1.5vh;
        display: flex;
        flex-direction: column;
    }
    .bottommenu {
        display: flexbox;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100% !important;
    }
    #button_bot {
        font-size: 1em !important;
        padding: 0em 0em !important;
        text-decoration: none;
    }
    .bottomnavbar_container {
        position: relative;
        display: flex !important;
        flex-direction: row !important;
        height: 50% !important;
        width: 100%;
        margin-top: 0%;
        padding-bottom: 0%;
    }
    .button_nav2 {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap;
        font-size: 1em;
        padding: 5em 0;
        text-decoration: none;
        color: #FFB703;
    }
    .bottommenu {
        /* border: 5px solid black; */
        height: 100% !important;
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
        list-style-type: none;
    }
    #button_bot {
        font-size: 1.45em!important;
        padding: 0em 0em;
    }
    .footer2 {
        justify-content: center;
        margin-top: 10%;
        width: 100% !important;
    }
    #foottitle {
        font-size: 1.2em;
    }
    #foottitle2 {
        text-decoration: dashed;
        font-size: 1.2em;
    }
    #contact {
        font-size: 1.2em;
    }
    .fa-linkedin {
        height: 2em;
    }
    #foottitle2 {
        text-align: center;
        font-size: 1.8em;
    }
    #button_bot:hover {
        font-size: 150%;
    }
}